
.landing-section {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  .title {
    font-size: 2.5rem;
  }
  p {
    margin-bottom: 1.25rem;
  }
}
